footer{
	padding: 14px 23px 39px 23px;
	a{
		text-decoration: none;
	}
}
.footer{
	&_divider{
		width: 299px;
		height: 4px;
		background-color: #1ca8c3;
		margin: 0 auto;
	}
	&_wrapper{
		display: flex ;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 32px;
	}
	&_wrapper > div {
		width: 33%;
		&:nth-child(3){
			display: flex ;
			justify-content: flex-end;
		}
	}
	&_social{
		width: 160px;
		display: flex;
		justify-content: space-between;
		&_item {
			display: flex ;
			justify-content: center;
			align-items: center;
			margin: 0 4px ;
			width: 32px;
			height: 32px;
			background-color: #070716;
			border-radius: 100%;
			i {
				color: #fff
			}
		}
	}
	&_links{
		width: 399px;
		margin: 0 auto;
		&_main{
			display: flex;
			justify-content: space-between;
			padding: 0 10px;
			a{
				font-size: 15px;
				color: black;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
		&_second{
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
			a{
				font-size: 11px;
				color: #999999;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
		.ru{
			display: block;
			margin: 0 auto;
			color:#1FBAD6;
			font-size: 11px;
			font-weight: 400;
			margin-top: 19px;
			text-transform: uppercase;
			text-align: center;
		}
	}
}
@media (max-width:1200px) {
	.footer{
		&_wrapper  > div {
			&:nth-child(1){
				width: 15%;
			}
			&:nth-child(2){
				width: 40%;
			}
			&:nth-child(3){
				width: 10%;
				img{
					margin: 5px;
				}
			}
		}
	}
}
@media (max-width:991px) {
	.footer{
		&_wrapper> div{
			&:nth-child(2) {
				width: 50%;
			} 
		}
	}
}
@media (max-width:767px) {
	.footer{
		&_wrapper  > div {
			&:nth-child(2){
				width: 50%;
			}
		}
		&_social{
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			&_item{
				margin: 5px;
			}
		}
		&_links{
			width: 100%;
		}

	}
}
@media (max-width:575px) {
	.footer{
		&_wrapper  > div {
			&:nth-child(2){
				width: 100%;
				order: -1;
			}
			&:nth-child(1), &:nth-child(3){
				width: 100%;
			}
		}
		
		&_wrapper{
			flex-direction: column;
			flex-wrap: wrap;
		}

		&_links{
			width: 100%;
			flex-wrap: wrap;
			&_main{
				font-size: 14px;
				white-space: nowrap;
				a{
					display: block;
				}
			}
			&_second{
				flex-wrap: wrap;
				justify-content: space-around;
				white-space: nowrap;
				a{
					display: block;
					padding: 0 15px;
				}
			}
		}
		&_social{
			margin: 16px auto 19px;
		}
	}
	.market{
		flex-direction: row;
		justify-content: center;
		img{
			height: 23px;
		}
	}
}