$color_1: #ffffff;
$color_2: #fff;
$color_3: #222222;
$color_4: #1eacc7;
$color_5: #202020;
$font-family_1: "Roboto", sans-serif;
$background-color_1: rgba(0,0,0, .6);
$background-color_2: #000000;
$background-color_3: #1eacc7;